li{
    text-decoration:none;
    list-style-type: none;
    display:flex;
    padding-left: 10px;
    width:50px;
    height:30px;
    margin-left:30px;
    border:1px solid black;
    border-radius:20px;
    padding:5px;
    
}
li:hover{
    background-color: black;
    color:white;
}
.container{
    display:flex;
    justify-content:space-between;

    
}
.c1{
    display:flex;
    
}
header{
    margin-top:30px;
}
body{
    background-color:#BFBBB6 ;
}

.container1{
    display:flex;
    justify-content:space-between;

}
h3{
    font-size:25px;
}
h1{
    font-size: 4vw;
}
section{
    margin-top:350px;
    margin-left:50px;
    border-bottom:1px solid black;
    font-weight:bold;
    
}
